<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="log-file.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="SummaryFile" fileName="summary-file.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.solvd.buildingCompany.Main" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.Main" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.Receptionist" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.Receptionist" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.BuildingCrew" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.BuildingCrew" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.Provider" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.Provider" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.threads.Main" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.threads.Main" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.threads.ConnectionPool" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.solvd.buildingCompany.threads.ConnectionPool" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
        </Root>
    </Loggers>
</Configuration>